
@{
    ViewBag.Title = "LoadPostList";

}

<link href="~/Content/Css/PostList/postlist.css" rel="stylesheet" />
<script src="~/Content/Js/postlist.js"></script>
<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <div class="">
            <div id="searchbardiv" class="row">
                <div class="col-md-6">
                    <input class="form-control srch-term" placeholder="Find Post" type="text" value="">
                </div>
                <!-- Material switch -->

            </div>


        </div>


        @*<ul class="nav nav-tabs reports-tabs" id="myTab">
                <li class="active LoadCustomerTab"
                    <a data-target="#LoadCustomerTab  .active" data-toggle="tab">Customer</a>
                </li>
            </ul>*@
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="LoadPostList">

            </div>
        </div>
    </div>

</div>

